<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
  <title>Burger Time</title>
</head>
<body>
  <img src="/assets/img/burger.png" id="img-burger">
  <h2>Eat the burger!</h2>

  {{{ body }}}

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
       <ul>
        <li><a class="white-text" href="https://github.com/MountainBed/burger" target="_blank">Github Repo</a></li>
        <li><small class="white-text">&copy; Copyright 2017 Ross Blair</small></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
