<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
  <title>Burger Time</title>
</head>
<body>
  <div class="container main-header">
    <div class="row">
      <div class="col s6">
        <img src="/assets/img/burger.png" id="img-burger">
      </div>
      <div class="col s6">
        <h1>Eat the burger!</h1>
     </div>
   </div>
 </div>

{{{ body }}}

</body>
</html>
